.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 234, 209);
}
.box{
    width: 700px;
    border: solid 2px black;
    margin: 20px 0 20px 0;
}